.board {
    text-align: center;
    padding-top: 3em;
    /* border:1px solid blue; */
}

.row {
    width:304px;
    margin: 0 auto;
}

.row > div {
    float: left;
    height: 100px;
    width: 100px;
}
.row::after{
    content: "";
    display: table;
    clear:both;
}
.row > div:hover{
    background-color: blue;
    cursor: pointer;
}

.top {

    border-bottom: 1px solid black;
}


.bottom {

    border-top: 1px solid black;
}

.left {

    border-right: 1px solid black;
}

.right {

    border-left: 1px solid black;

}